  <div class="modal fade" id="edit-product-<%= product.id %>" tabindex="-1"
  aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Edit product <%= product.id %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with scope: :product, url: edit_product_path, method: :patch do |form| %>
            <%= form.text_field :id, type: "hidden", value: product.id, class:"form-control" %>
            <div class="mb-3">
              <%= form.label :title %>
              <%= form.text_field :title, class: "form-control", value: product.title %>
            </div>
            <div class="mb-3">
              <%= form.label :price %>
              <%= form.text_field :price, class: "form-control", value: product.price %>
            </div>
            <div class="mb-3">  
              <%= form.label :img_link %>
              <%= form.url_field :img_link, class: "form-control", value: product.img_link %>
            </div>
            <div class="mb-3">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form-control",
                value: product.description, size: "50x10" %>
            </div>
            <div class="mb-3">
              <%= form.submit "Save changes", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>