  <div class="modal asd fade" id="view-product-<%= product.id %>" tabindex="-1"
  aria-labelledby="viewModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Product <%= product.id %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 d-flex justify-content-center">
            <img class="modal-img" src="<%= product.img_link %>" alt="Image">
          </div>
          <div class="mb-3">
            <h3>
              <%= product.title %>
            </h3>
          </div>
          <div class="mb-3">
            <h6>
              <%= product.price_formatted%>
            </h6>
          </div>
          <div class="mb-3">
            <p>
              <%= product.description %>
            </p>
          </div>
          <%= form_with url: add_to_shopping_cart_path(product.id), method: :post do |f| %>
            <div class="mb-3">
              <%= f.label :quantity %>
              <%= f.number_field :quantity, in: 1..10, step: 1, value: 1, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.submit 'Add to cart', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>